__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

data/raw/
data/processed/

dbt/covid_dbt/target/
dbt/covid_dbt/logs/
dbt/covid_dbt/dbt_packages/
*.duckdb

.env
*.tfstate
*.tfstate.backup
.terraform/

.DS_Store
dbt/covid_dbt/.user.yml 
